<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      {{#x-card
        buttonText="Logout"
        onsubmit=(route-action "logout")
        title="Welcome to Peepchat!"}}
        {{#user-info as |user|}}
          Thanks for logging in <strong>{{user.email}}</strong>
        {{/user-info}}
      {{/x-card}}
    </div>
  </div>
</div>
